<div class="example-component" data-view="exampleComponent">
	<div class="example-component__container js-example-component-container">
		<h3 class="example-component__heading">I am an example component</h3>
		<p>{{ content }}</p>
	</div>
</div>